.form{
background-color: #f0eeea;
border-radius: 15px;
text-align: center;
margin: 100px auto;
padding: 50px 50px;
display: block;
}
label{
    display: block;
    margin-bottom: 4px;
    font-size: 20px;
}
input[type="number"]{
    margin-bottom: 15px;
    padding:5px;
    font-size: 16px;
    width: 200px;
}
.button {

    display: flex;
    justify-content: center;
   
    
}
div {
    text-align: center;
    font-size: 25px;
    color: rgb(221, 1, 37);
    background-color:  #f0eeea;
   border-radius: 15px;
   padding: 20PX 20PX;
}